<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div class="container">

    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Corona virus tracker</h1>
        <p class="lead">The total number of cases in Canada as of today is</p>
        <p th:text="${#numbers.formatDecimal(totalCases,3,'COMMA',0,'POINT')}">0</p>
        <hr class="my-4">
        <p class="lead">The total number of people vaccinated in Canada as of today is</p>
        <p th:text="${#numbers.formatDecimal(totalVaccinated,3,'COMMA',0,'POINT')}">0</p>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>Province</th>
            <th>Date</th>
            <th>Total number of cases</th>
            <th>Total number of people vaccinated</th>
        </tr>
        <tr th:each="covidData : ${covidDataList}">
            <td th:text="${covidData.province}"></td>
            <td th:text="${covidData.date}"></td>
            <td th:text="${#numbers.formatDecimal(covidData.totalCases,3,'COMMA',0,'POINT')}">0</td>
            <td th:text="${#numbers.formatDecimal(covidData.totalVaccinated,3,'COMMA',0,'POINT')}">0</td>
        </tr>
    </table>
</div>

</body>

</html>
